<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>test website</title>
</head>
<body>
    <h3>main site</h3>
    <form action="/calculate" method="POST">
        digital <input type="text" name="max" />
        <button>calculate sum</button>
    </form>
    <hr/>
    <form action="/show" method="POST">
        name <input type="text" name='n'/>
        <button>post your form</button>
    </form>
    <a href="/page">link to page</a>
    <br/>
    <img src="/FLOWERS_Sidebar.png"/>
</body>
</html>